
{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
<h1> Index page </h1>
<p> Welcome {{ name }}! </p>

<p> 
    <a href="/simple/Symfony">Go to Simple Page --></a>
</p>

{% endblock%}
