{% extends 'base.html.twig' %}


        {% block body %}
        
        <h2>Simple Page</h2>
        Welcome, {{ name }} !
        
        <p> 
        <a href="/hello/Symfony"><--Back to Index</a>
        </p>
        
        {% endblock %}
      
